<!DOCTYPE html>
<html lang="en">

    
    <title>Angular js full name</title>
    <head>
        <script src="angular.js"></script>
        <script>
            var app=angular.module("myApp",[]);
            app.controller("myCntrl",function($scope)
            {
                $scope.firstName="Harish";
                $scope.middleName="M"
                $scope.lastName="BT";
                
            });
         </script>

    </head>
    <body ng-app="myApp">
        <h2>Angular program for full name</h2>
        <div ng-controller="myCntrl">
            Enter first name:<input type="text" ng-model="firstName" ><br><br>
            Enter middle name:<input type="text" ng-model="middleName" ><br><br>
            Enter last name:<input type="text" ng-model="lastName"><br><br>
            Full name:{{firstName+" "+middleName+" "+lastName}}

        </div>
    </body>

<body>
    
</body>
</html>